

.mb-0 {
    text-decoration: underline;
    text-shadow: skyblue;
}

.message {
    font-weight: bold;
}

.grid {
    text-align: center;
    margin: auto;
}

.grid h3 {
    background-color: skyblue;
    border-radius: 5em;
    color: white;
}

.card {
    text-align: center;
    margin: auto;
}